volumes/bdwp/*
!volumes/bdwp/ne-pas-effacer.txt

volumes/homepage-config/*
!volumes/homepage-config/ne-pas-effacer.txt

volumes/etc-pihole/*
!volumes/etc-pihole/ne-pas-effacer.txt

volumes/portainer-data/*
!volumes/portainer-data/ne-pas-effacer.txt

volumes/arcane-data/*
!volumes/arcane-data/ne-pas-effacer.txt

volumes/monitoring-data/*
!volumes/monitoring-data/ne-pas-effacer.txt

volumes/dockmon_data/*
!volumes/dockmon_data/ne-pas-effacer.txt

volumes/uptimekuma-data/*
!volumes/uptimekuma-data/ne-pas-effacer.txt

volumes/radarr/*
!volumes/radarr/config/ne-pas-effacer.txt
!volumes/radarr/data/ne-pas-effacer.txt

volumes/qbittorrent/*
!volumes/qbittorrent/appdata/ne-pas-effacer.txt 
!volumes/qbittorrent/downloads/ne-pas-effacer.txt



